<?xml version="1.0"?>
<launch>
<!-- load config file -->
<rosparam file="$(find robotic_arm_control)/config/robotic_arm_control.yaml" command="load"/>
<!-- start this controller -->
<node args="spawn robotic_arm_controller joint_state_controller " name="robotic_arm_controller_spawner" ns="/" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>
<!-- load othrer controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
<!-- Robot State Publisher -->
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/robotic_arm/joint_states"/>
</node>

</launch>